<div class="banner">
  <div class="description">
    <h1>Ross Keeley, Full Stack Developer</h1>
    <p>I specialize in javascript, reactjs, node, express, html, css</p>
    <a href="/projects" class="btn">Projects</a>
    <a href="/resume" class="btn">Resume</a>
  </div>
</div>
