<div class="banner">
  <div class="description">
    <h1>Ross Keeley</h1>
    <h2>Full Stack Developer</h2>
    <div class="contact">
      <a href="https://www.linkedin.com/in/rosskeeley" target="_blank"><i class="fa fa-linkedin"></i></a>
      <a href="mailto:rjkeeley@gmail.com" target="_blank"> <i class="fa fa-envelope"></i></a>
      <a href="https://github.com/RossKeeley" target="_blank"><i class="fa fa-github"></i></a>
    </div>
    <br>
    <br><a href="/projects" class="btn">Projects</a>
    <a href="/downloads/ross-keeley-resume.pdf" download="Ross-Keeley-Resume" alt="Ross-Keeley-Resume.pdf" class="btn">Resume</a>
  </div>
</div>
