<meta charset="UTF-8">
<title><%= pageTitle %></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Ross Keeley is a Full Stack Developer based in London">
<meta name="keywords" content="HTML, CSS, JavaScript, React, Developer">
<meta name="author" content="Ross Keeley">

<meta property="og:title" content="Ross Keeley - Full Stack Developer"/>
<meta property="og:image" content="/images/ross-keeley-og-image.png"/>
<meta property="og:description" content="Ross Keeley is a Full Stack Developer based in London"/>
<meta property="og:url" content="https://rosskeeley.com/"/>
<meta prefix="og: http://ogp.me/ns#" property="og:type" content="website"/>

<!-- <meta prefix="og: http://ogp.me/ns#" property="og:title" content="Ross Keeley - Full Stack Developer" />

<meta prefix="og: http://ogp.me/ns#" property="og:description" content="Ross Keeley is a Full Stack Developer based in London" />

<meta prefix="og: http://ogp.me/ns#" property="og:image" content="public/images/ross-keeley-og-image.png" />

<meta prefix="og: http://ogp.me/ns#" property="og:url" content="https://rosskeeley.com/" /> -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/1.2.7/marked.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="icon" href="../images/rosskeeley-logo.png">
<link rel="stylesheet" href="../stylesheets/css/master.css">
<% if (style !== '') { %>
  <link rel="stylesheet" href="../stylesheets/css/pages/<%= style %>.css">
<% } %>
