<header>
  <nav>
    <ul class="menu">
      <li class="logo"><a href="/">Ross Keeley | Portfolio</a>
      <li class="toggle" onclick="myFunction()"><i class="fa fa-bars"></i></li>
      <ul id="dropDown">
        <a href="/"><li class="item">Home</li></a>
        <a href="/#about"><li class="item">About</li></a>
        <a href="/#projects"><li class="item">Projects</li></a>
        <a href="/downloads/ross-keeley-resume.pdf" download="Ross-Keeley-Resume" alt="Ross-Keeley-Resume.pdf"><li class="item">Resume</li></a>
        <a href="/#contact"><li class="item">Contact</li></a>
      </ul>
    </ul>
  </nav>
</header>
