<header>
  <nav>
    <ul class="menu">
      <li class="logo"><a href="/">Ross Keeley | Portfolio</a>
      <li class="toggle" onclick="myFunction()"><i class="fa fa-bars"></i></li>
      <ul id="item">
        <li class="item"><a href="/">Home</a></li>
        <li class="item"><a href="/#about">About</a></li>
        <li class="item"><a href="/#projects">Projects</a></li>
        <li class="item"><a href="/downloads/ross-keeley-resume.pdf" download="Ross-Keeley-Resume" alt="Ross-Keeley-Resume.pdf">Resume</a></li>
        <li class="item"><a href="/#prompt">Contact</a></li>
      </ul>
    </ul>
  </nav>
</header>
