/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

@import 'partials/index';
@import 'pages/projects';

html {
  scroll-behavior: smooth;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #main {

  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

body {
  background-color: #fafafa;
  font-family: 'Poppins';
  margin: 0;
  font-size: 16px;
}

h2 {
  font-weight: 600;
  text-align: center;
  font-size: 30px;
}

a {
  color: $ghost;
  text-decoration: none;
}

// Applying to the main content of the page excluding partials
.wrapper {
  background-color: #f5f6ff;
  #main {
    padding: 50px 8%;
    max-width: 100vw;
    min-height: 80vh;
    // background-color: #f5f6ff;
  }
}

// Description in the project pages when it is present
.page-description {
  text-align: center;
  padding-bottom: 30px;
}

// Reusable button styling for blue button, white font
.btn-a {
  position: relative;
  background-color: #2196f3;
  display: inline-block;
  color: #fff;
  padding: 5px 12px;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 400;
  border: none;
  border-radius: 2px;
}
