/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
@import 'partials/index';
@import 'pages/projects';

body {
  background-color: #fafafa;
  font-family: 'Poppins';
  margin: 0;
  font-size: 16px;
}

h2 {
  font-weight: 600;
}

a {
  color: #fff;
  text-decoration: none;
}

.wrapper {
  #main {
    padding: 50px 100px;
    max-width: 100vw;
    min-height: 80vh;
  }
}

.page-title {
  h2 {
    font-size: 30px;
    text-align: center;
  }
}

.page-description {
  text-align: center;
  padding-bottom: 30px;
}

.page-content {
  margin: auto;
  width: 70%;
}

.btn-a {
  position: relative;
  background-color: #2196f3;
  display: inline-block;
  color: #fff;
  padding: 5px 12px;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 400;
}

.btn {
  font-size: 16px;
  background-color: #2196f3;
  color: #fff;
  padding: 10px 12px;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 400;
  border: none;
}

.demo {
  text-align: center;
  // margin-right: 12px;
}

.github {
  background-color: #58c22d;
}
