// Whole page background color
#main {
  background-color: #002f49
}
// Title on top of the page
.page-title {
  color: #fff;
  margin-bottom: 50px;
}

.container {
  background-color: #d62626;
  width: 420px;
  height: auto;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#drum-machine {
  margin: auto;
}

#display {
  width: 100%;
  height: 100px;
  margin: 20px 20px;
  background-color: #9dbc0f;
  font-family: 'VT323';
  font-size: 35px;
  box-shadow: inset 0px 0px 3px 2px rgba(0,0,0,0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}


.drum-pad {
  // border: 2px solid #333;
  border-radius: 8px;
  border-style: none;
  height: 90px;
  width: 90px;
  margin: 17px;
  font-family: 'Lato';
  font-size: 40px;
  background-color: #cccccc;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}

button:focus {
  outline:0;
  background-color: #bfbfbf;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}
