@import '../partials/variables';
// Whole page background color
#main {
  background-color: #45a5a8;
}
// Title on top of the page
.page-title {
  color: $ghost;
}

#editor {
  padding: 15px;
  box-sizing: border-box;
  border: none;
  width: 100%;
  max-width: 700px;
  min-height: 200px;
  border-radius: 10px;
}

#editor:focus {
    outline: none !important;
    border:none;
}

#clearButton {
  font-size: 16px;
  background-color: #2196f3;
  color: #fff;
  padding: 10px 12px;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 400;
  border: none;
}

#preview {
  padding: 0 15px;
  width: auto;
  background-color: #fff;
  min-height: 200px;
  height: auto;
  border-radius: 10px;
/*   border: 1px solid black; */
}

.container {
  margin: auto;
  background-color: #fff;
  width: 80%;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 30px;
}
