// Whole page
#main {
  text-align: center;
  background-image: url("https://www.wallpaperup.com/uploads/wallpapers/2013/02/26/45193/fef3bb847cceb488781f979a4677e477.jpg");
  background-color: #130f40;
  background-size: cover;
  color: #fff;
}

// * {
//   box-sizing: border-box;
// }

.btn {
  color: #fff;
  background-color: transparent;
  border: 1px solid rgba(192,192,192,0.88);
  border-radius: 10px;
  font-size: 20px;
  padding: 10px 15px;
  margin: 10px;
  cursor: pointer;
}

.actions-container {
  display: flex;
  justify-content: center;
  align-items: center;
  .timer-container {
    margin: 40px 20px 20px;
    h3 {
      margin: 0;
      letter-spacing: 1px;
      width: 100%
    }
  }
  .timer-container {
    width: 55%;
    max-width: 280px;
    .actions-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 0;
      span {
        font-size: 40px;
        width: 50%;
        margin: 0;
        padding: 5px;
        display: flex;
        display: inline-block;
        align-items: center;
      }
      .btn {
        margin: 0;
      }
    }
  }
}

// .container {
//   // display: flex;
//   // flex-direction: column;
//   align-items: center;
//   justify-content: center;
// }

.clock-container {
  background-color: rgba(192,192,192,0.2);
/*   opacity: 0.1; */
  border: 1px solid rgba(192,192,192,0.88);
  border-radius: 10px;
  display: inline-block;
  padding: 10px;
  margin-top: 20px;
  width: 55%;
  min-width: 400px;
  h3 {
    font-size: 40px;
    margin: 0px;
  }
  span {
    font-size: 60px;
  }
}
