<div id="about">
  <!-- About -->
  <div class="container">
    <div class="title">
      <h2>About Me</h2>
    </div>
    <div class="description">
      <p>
        Hello! I’m Ross, a full-stack developer based in London in the UK.
      </p>
      <p>
        I enjoy learning about new technologies, and the full process of building software and applications from concept design to deployment and continual improvement. My ultimate goal is to create products that look fantastic and have a real positive impact on people’s lives.
      </p>
      <p>
        After completing an online full-stack developer course that included HTML, CSS, React, Node.js, Express, MongoDB, and Mongoose among others, I began working on projects, learning new skills, and improving my old ones every single day.
      </p>
      <p id="prompt">
        Don't forget to say Hi!
      </p>
    </div>
    <div class="contact" id="contact">
      <a href="https://www.linkedin.com/in/rosskeeley" target="_blank" class="fab fa-linkedin"></a>
      <a href="mailto:rjkeeley@gmail.com" target="_blank" class="far fa-envelope"></a>
      <a href="https://github.com/rosskeeley" target="_blank" class="fab fa-github"></a>
    </div>
  </div>
  <!-- Skills -->
  <div class="container">
    <div class="title">
      <h2>Skills</h2>
    </div>
    <div class="languages">
      <% for (let i = 0; i < skillsData.length; i++) { %>
        <div class="skills-card">
          <h3><%= skillsData[i].title %></h3>
          <% for (let j = 0; j < skillsData[i].tags.length; j++) { %>
          <p><%= skillsData[i].tags[j]; %></p>
          <% } %>
        </div>
      <% } %>
    </div>
  </div>
</div>
