<div class="page-title">
  <h2>Calculator</h2>
</div>
<div class="page-description">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</div>
<div class="page-content">
  <div id="calculator">
    <!-- __________Calculator Display Console__________ -->
    <!--  Display Output  -->
    <div class="display-screen">
      <div id="output"></div>
      <!--  Display Input  -->
      <div id="display">0</div>
    </div>
    <!--   __________Buttons__________ -->
    <div class="buttons">
      <!--  Line one  -->
      <button id="clear">AC</button>
      <button id="divide">/</button>
      <button id="multiply">x</button>
      <!--  Line two  -->
      <button id="seven">7</button>
      <button id="eight">8</button>
      <button id="nine">9</button>
      <button id="subtract">-</button>
      <!-- Line three -->
      <button id="four">4</button>
      <button id="five">5</button>
      <button id="six">6</button>
      <button id="add">+</button>
      <!--   Line four -->
      <button id="one">1</button>
      <button id="two">2</button>
      <button id="three">3</button>
      <button id="equals">=</button>
      <!--   Line five -->
      <button id="zero">0</button>
      <button id="decimal">.</button>
    </div>
  </div>
</div>
