<div class="page-title">
  <h2>Dice Roller</h2>
</div>
<div class="page-description">
  <p>Click anywhere on the dice to roll a random number. Just don't try and cheat with it!</p>
</div>
<div class="container">
  <div class="dice">
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
  </div>
</div>
