<div class="page-title">
  <h2>Dice Roller</h2>
</div>
<div class="page-description">
  <p>Click anywhere on the dice to roll a random number. Just don't try and cheat with it!</p>
</div>
<!-- MAIN DICE ROLLER CONTAINER -->
<div class="container">
  <!-- Dice body -->
  <div class="dice">
    <!-- Individual dots on the dice face -->
    <!-- Each one represents diff position -->
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
  </div>
</div>
