<div class="page-title">
  <h2>Drum Machine</h2>
</div>
<!-- DRUM MACHINE MAIN CONATINER -->
<div class="container" id="drum-machine">
  <!-- CONTAINER FOR THE DISPLAY SCREEN -->
  <div id="display">Hello</div>
  <button class="drum-pad" id="clap">
    Q
    <audio class="clip" id="Q" src="https://s3.amazonaws.com/freecodecamp/drums/Heater-6.mp3"></audio>
  </button>
  <button class="drum-pad" id="open-hh">
    W
    <audio class="clip" id="W" src="https://s3.amazonaws.com/freecodecamp/drums/Dsc_Oh.mp3"></audio>
  </button>
  <button class="drum-pad" id="snare-drum">
    E
    <audio class="clip" id="E" src="https://s3.amazonaws.com/freecodecamp/drums/Brk_Snr.mp3"></audio>
  </button>
  <button class="drum-pad" id="kick-n-hat">
    A
    <audio class="clip" id="A" src="https://s3.amazonaws.com/freecodecamp/drums/Kick_n_Hat.mp3"></audio>
  </button>
  <button class="drum-pad" id="kick">
    S
    <audio class="clip" id="S" src="https://s3.amazonaws.com/freecodecamp/drums/RP4_KICK_1.mp3"></audio>
  </button>
  <button class="drum-pad" id="closed-hh">
    D
    <audio class="clip" id="D" src="https://s3.amazonaws.com/freecodecamp/drums/Cev_H2.mp3"></audio>
  </button>
  <button class="drum-pad" id="shaker">
    Z
    <audio class="clip" id="Z" src="https://s3.amazonaws.com/freecodecamp/drums/Give_us_a_light.mp3"></audio>
  </button>
  <button class="drum-pad" id="punchy-kick">
    X
    <audio class="clip" id="X" src="https://s3.amazonaws.com/freecodecamp/drums/punchy_kick_1.mp3"></audio>
  </button>
  <button class="drum-pad" id="side-stick">
    C
    <audio class="clip" id="C" src="https://s3.amazonaws.com/freecodecamp/drums/Brk_Snr.mp3"></audio>
  </button>
</div>
