<div class="container">
  <h1 id="title">Markdown Previewer</h1>
  <div class="column">
    <div id="md-editor">
      <h5>Enter markdown:</h5>
      <p id="description">Here's a <a href="https://www.markdownguide.org/cheat-sheet/" target="_blank">markdown cheatsheet</a> for reference.</p>
      <hr />
      <textarea id="editor" placeholder="Type here..."></textarea>
      <hr />
      <button id="clearButton">Clear</button>
    </div>
    <div id="md-preview">
      <h5>Result:</h5>
      <hr />
      <div id="preview"></div>
      <hr />
    </div>
  </div>
</div>

<!-- <head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="stylesheets/markdown.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">
  <title></title>
</head> -->
