<div class="page-title">
  <h2>Markdown Previewer</h2>
</div>
<div class="page-description">
  <p>Convert your markdown into HTML. Here's a <a href="https://www.markdownguide.org/cheat-sheet/" target="_blank">markdown cheatsheet</a> for reference.</p>
</div>
<div class="page-content">
  <div class="container">
    <h3>Enter markdown:</h3>
    <hr />
    <textarea id="editor" placeholder="Type here..."></textarea>
    <hr />
    <br><button id="clearButton" class="btn-a">Clear</button>
  </div>
  <div class="container">
    <h3>Result:</h3>
    <hr />
    <div id="preview"></div>
    <hr />
  </div>
</div>
