<div class="container">
  <div class="page-title">
    <h2>Pomodoro Clock Timer</h2>
  </div>
  <div class="page-description">
    <p>Use the arrow buttons to set your break and session time lengths. It's is capped at 60 minutes so you don't get too lazy</p>
  </div>
  <div class="page-content">
    <div id="app"></div>
    <audio class="clip" id="beep" preload="auto" src="https://soundbible.com//mp3/A-Tone-His_Self-1266414414.mp3"></audio>
  </div>
</div>
