<div class="page-title">
  <h2>Pomodoro Clock Timer</h2>
</div>
<div class="page-description">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</div>
<div class="page-content">
<div id="app"></div>
<audio class="clip" id="beep" preload="auto" src="https://soundbible.com//mp3/A-Tone-His_Self-1266414414.mp3"></audio>
</div>
