<section class="projects">
  <div class="heading">
    <h2>Projects</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
  </div>
    <div class="content">
    <% for (let i = 0; i < projectsData.length; i++) { %>
      <div class="project-card">
        <img src="<%= projectsData[i].image; %>">
        <h3><%=  projectsData[i].title; %></h3>
        <p>
          <%=  projectsData[i].description; %>
        </p>
        <div class="code-lang-tags">
          <% for (let j = 0; j < projectsData[i].tags.length; j++) { %>
          <p><%=  projectsData[i].tags[j]; %></p>
          <% } %>
        </div>
      </div>
    <% } %>
  </div>
</section>
