/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #about {
    padding: 50px 15px;
    // Containers for About Me and Skills sections
    .container {
      width: 80%;
      min-width: 300px;
      .skills-card {
        width: 60%;
      }
    }
  }
}
@media only screen and (min-width: 600px) {
  #about {
    padding: 50px 30px;
    .container {
      width: 100%;
      min-width: 490px;
      .skills-card {
        width: 20%;
        min-width: 140px;
      }
    }
  }
}
@media only screen and (min-width: 700px) {
  #about {
    padding: 50px 40px;
    .container {
      width: 100%;
      min-width: 600px;
      .skills-card {
        width: 20%;
        min-width: 140px;
      }
    }
  }
}
@media only screen and (min-width: 800px) {
  #about {
    padding: 50px 40px;
    .container {
      width: 100%;
      min-width: 660px;
      .skills-card {
        width: 25%;
        min-width: 160px;
      }
    }
  }
}
@media only screen and (min-width: 900px) {
  #about {
    padding: 50px 60px;
    .container {
      width: 90%;
      min-width: 720px;
      .skills-card {
        width: 25%;
        min-width: 160px;
      }
    }
  }
}
@media only screen and (min-width: 1150px) {
  #about {
    padding: 50px 50px;
    .container {
      width: 45%;
      min-width: 500px;
      .skills-card {
        width: 10%;
        min-width: 135px;
      }
    }
  }
}
@media only screen and (min-width: 1200px) {
  #about {
    padding: 50px 80px;
    .container {
      width: 45%;
      min-width: 500px;
      .skills-card {
        width: 10%;
        min-width: 135px;
      }
    }
  }
}
@media only screen and (min-width: 1300px) {
  #about {
    padding: 50px 100px;
    .container {
      width: 40%;
      min-width: 510px;
      .languages {
        display: flex;
        justify-content: space-around;
      }
      .skills-card {
        width: 10%;
        min-width: 140px;
      }
    }
  }
}

// Main container for the about section
// This encloses the About Me and Skills containers
#about {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row;
  background-color: #fff;
  flex-wrap: wrap;
  .container {
    padding: 20px 15px 30px;
  }
}

// Styles for the About Me container
.container {
  // Div containing the About Me description paragraphs
  .description {
    top: 50%;
    p {
      margin-bottom: 15px;
    }
    #prompt {
      text-align: center;
    }
  }
  // Container for the contact buttons
  .contact {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 25px;
    height: 70px;
    a {
      display: inline-block;
      font-size: 40px;
      color: #000;
      background-color: #fff;
      margin: 0px 30px;
      transition: 0.5s;
    }
    a:hover {
      transform: scale(1.5);
    }
  }
}

// Styles for the Skills container
// Div containing the languages cards
.languages {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  // Individual Cards
  .skills-card {
    // width: 30%;
    margin: 10px 10px;
    padding: 15px;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 12%);
    h3 {
      font-weight: 600;
      letter-spacing: 1px;
      margin-top: 5px;
      text-align: center;
    }
    p {
      text-align: center;
      font-weight: 500;
      margin: 6px;
      padding: 0 5px;
      line-height: 35px;
      background-color: #59db2a47;
    }
  }
}
