#about {
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #fff;
  // flex-wrap: wrap;
  .container {
    width: 50%;
    min-width: 200px;
    padding: 15px;
  }
}
