// Main banner box
.banner {
  // Background image position and style
  background: linear-gradient(#2c00ff, #dc3d00),
    linear-gradient(to right, #000000, #773d3d),
    url(/images/ross-banner-2.png) 20px;
  background-blend-mode: screen, difference, lighten;
  background-color: rgba(#ffffff, 0.3);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  // Banner box size, position and inner positioning
  position: relative;
  height: 50vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  // Name and title
  .description  {
    text-align: left;
    padding-bottom: 40px;
    // Main title
    h1 {
      color: #383737;
      font-size: 75px;
      line-height: 65px;
      background-color: rgb(255 255 255);
      padding: 5px;
      margin: 0;
    }
    // Secondary title
    h2 {
      color: #383737;
      font-size: 30px;
      line-height: 25px;
      background-color: rgb(255 255 255);
      padding: 5px;
      width: 310px;
      margin: 15px 0px;
    }
  }
}
