/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .banner {
    padding: 0 8%;
    // Main title
    h1 {
      font-size: 50px;
      line-height: 40px;
    }
    // Secondary title
    h2 {
      font-size: 25px;
      line-height: 15px;
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .banner {
    padding: 0 30px;
    // Main title
    h1 {
      font-size: 70px;
      line-height: 60px;
    }
    // Secondary title
    h2 {
      font-size: 30px;
      line-height: 20px;
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .banner {
    padding: 0 70px;
    // Main title
    h1 {
      font-size: 80px;
      line-height: 70px;
    }
    // Secondary title
    h2 {
      font-size: 30px;
      line-height: 20px;
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .banner {
    padding: 0 90px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .banner {
    padding: 0 100px;
    // Main title
    h1 {
      font-size: 75px;
      line-height: 65px;
    }
    // Secondary title
    h2 {
      font-size: 30px;
      line-height: 25px;
    }
  }
}

// Main banner box
.banner {
  // Background image position and style
  background: linear-gradient(#2c00ff, #dc3d00),
    linear-gradient(to right, #000000, #773d3d),
    url(/images/ross-banner-2.png) 20px;
  background-blend-mode: screen, difference, lighten;
  background-color: rgba(#ffffff, 0.3);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  // Banner box size, position and inner positioning
  position: relative;
  height: 50vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // Name and title
  .description  {
    text-align: left;
    padding-bottom: 40px;
    // Main title
    h1 {
      color: #383737;
      background-color: rgb(255 255 255);
      padding: 5px;
      margin: 0;
    }
    // Secondary title
    h2 {
      color: #383737;
      background-color: rgb(255 255 255);
      padding: 5px;
      width: 310px;
      margin: 15px 0px;
    }
  }
}
