* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

nav {
  background-color: #fff;
  padding: 5px 20px;
  ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    .logo {
      color: #111;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 2px;
      text-decoration: none;
    }
    #item {
      text-align: center;
      order: 2;
      .item {
        transition: 0.3s;
      }
    }
    a {
      color: #111;
      text-decoration: none;
      // display: block;
    }
  }
}

nav .menu li {
  padding: 15px 5px;
}

.toggle {
  cursor: pointer;
  order: 1;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 669px) {
  .menu {
    justify-content: center;
  }
  .logo {
    flex: 1;
  }
  #item {
    width: 100%;
    display: none;
    order: 2;
    .item:hover {
      background-color: #f7f7f7;
      transform: scale(1.1);
    }
  }
  .toggle {
    order: 1;
  }
}

@media only screen and (min-width: 670px) {
  #item {
    display: block;
    order: 1;
    .item {
      display: inline-block;
      width: auto;
    }
    .item:hover {
      transform: scale(1.1);
    }
  }
  .toggle {
    display: none;
  }
  .logo {
    order: 0;
  }
}
